{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h3><a href="{{ request.route_url('records', zone=zone) }}">{{ zone }}</a></h3>
<br />
{% for message in request.session.pop_flash() %}
<p>{{ message }}</p>
{% endfor %}
<form class="form-horizontal" method="POST" action="{{ request.route_url('add_record', zone=zone) }}">
<div class="input-group">
<span class="input-group-addon">{{ form.dnsname.label }}: {{ form.dnsname }}</span>
<span class="input-group-addon">{{ form.recordtype.label }}: {{ form.recordtype }}</span>
<span class="input-group-addon">{{ form.data.label }}: {{ form.data }}</span>
</div>
<button class="btn btn-default" type="button">{{ form.submit }}</button>
</form>
{% endblock content %}
