{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Py</span><span class="font-semi-bold smaller">PAM</span></h1>
  <p class="lead">Welcome to <span class="font-normal">PyPAM</span>, a&nbsp;Python based IP manager for &nbsp;for<br><span class="font-normal">FreeIPA</span>.</p>
</div>
{% endblock content %}
