{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h3>{{ zone }}</h3>
{% for message in request.session.pop_flash() %}
<p class="font-weight-bold">{{ message }}</p>
{% endfor %}
<a class="btn btn-default" href="{{ request.route_url('add_record', zone=zone) }}">Add new record</a>
</div>
<div class="container">
{% for item in records %}
<ul>

<li> <a href="{{ request.route_url('get_record', zone=zone, record=item) }}">{{ item }}</a> </li>

</ul>
{% endfor %}
</div>
{% endblock content %}

