{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h3><a href="{{ request.route_url('records', zone=zone) }}">{{ zone }}</a></h3>
</div>
<div class="container">
{% for key, value in record.items() %}
<dl>
  <dt>{{ key }}</dt>
  <dd>{{ value[0] }}</dd>
</dl>
{% endfor %}
</div>
{% endblock content %}

