{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
<h1>Current Zones</h3>
</div>
<div class="container">
<ul>
{% for item in zones %}
<li class="font-semi-bold"><a href="{{ request.route_url('zones', item) }}"> {{ item }} </a></li>
{% endfor %}
</ul>
</div>
{% endblock content %}

